@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #1e293b;
  /* slate-800 */
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@media print {
  body {
    background: white !important;
    color: black !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}